.earnings {
  background-color: #f5f7fa;
  padding: 50px;
}

.earningsSection {
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
    border-radius: 10px;
}

.earningsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.totalEarnings {
  display: flex;
  align-items: center;
  gap: 10px;
}


.earningsAmount {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #5998F6;
}

.transactionHistory {
  margin-top: 30px;
}

.transactionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transactionItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.transactionItem:hover {
  background-color: #f0f4f7;
  cursor: pointer;
}

.transactionDate {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendarIcon {
  width: 20px;
  height: 20px;
  color: #5998F6;
}

.transactionAmount {
  font-size: 18px;
  font-weight: 600;
  color: #111827;

}

.nav-items {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}

.nav-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.nav-items .navItem {
  text-decoration: none;
  color: #111827;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-items .navItem:hover {
  color: white;
  background-color: #5998F6;
  padding: 8px;
  border-radius: 10px;
}

.nav-items hr {
  border: none;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #5998F6;
}