.teamSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 29px;
    margin-bottom: -100px;
    padding: 39px 80px 64px;
    background: linear-gradient(to left, #345990 11%, #5998F6 80%);
    height: 642px;
  }

  .teamContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 1440px;
    height: 532px;
  }
  
  .teamTitle {
    color: #fff;
    text-align: center;
    align-self: center;
    margin-top: -10px;
    margin-left: 21px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 64px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .teamGrid {
    display: flex;
    gap: 100px;
    text-align: center;
    align-self: center;
  }
  
  .teamMember {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .memberPhoto {
    background-color: #dbeafe;
    border-radius: 20px;
    width: 195px;
    height: 243px;
    margin-top: -10;
  }
  
  .memberName {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 500;
    align-self: stretch;
    text-align: center; /* center the name properly */
    width: 180px; /* or any width that fits two lines nicely */
    word-break: break-word; /* ensures long words break nicely */
    min-height: 80px;
  }
  
  .memberRole {
    margin-top: -20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center; /* center the role under the name */
  }
  
  @media (max-width: 1024px) {

    .teamGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns */
      gap: 20px 60px; /* Row gap, Column gap */
      justify-items: center;
      margin-top: -20px;
    }
  
    .teamSection {
      height: auto; /* Allow section to grow with content */
      padding:  50px 40px 64px; /* Slightly reduced side padding */
      position: relative;
      margin-bottom: 0px;
    }
  
    .teamContainer {
      height: auto; /* Let it expand based on grid content */
    }
  
    .memberPhoto {
      width: 160px;
      height: 200px;
    }
  
    .memberName {
      font-size: 20px;
      width: 300px;
      margin-bottom: -20px;
    }
  
    .memberRole {
      font-size: 18px;
    }
  }

  @media (max-width: 1024px) {

    .memberName {
        width: 250px;
        margin-bottom: 10px;
      }
  }

  @media (max-width: 720px) {
    
    .teamTitle {
        font-size: 34px;
    }

    .memberPhoto {
        width: 150px;
        height: 180px;
    }

    .memberName {
        font-size: 18px;
        width: 200px;
    }

    .memberRole {
        font-size: 16px;
        margin-top: -40px;
    }
  }

  @media (max-width: 480px) {
    .teamGrid {
        gap: 20px 20px;
    }
  }
  